.about--highlight-text {
  font-weight: 700;
}
.title h1,
.title h2 {
  text-align: center;
  margin: 0.4rem 1rem;
}
.title h1 {
  color: $titles-color;
}
.title {
  &__figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
    & img {
      max-width: 80%;
      border: 0.3rem double $secondary-color;
    }
    & figcaption {
      font-size: 0.9rem;
      text-decoration: underline;
    }
  }
}
.about {
  margin: 0.4rem 1rem;
  &__thanks {
    text-align: center;
    margin-top: 0.4rem;
    color: $primary-color;
  }
}
