.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  &__network {
    display: flex;
    width: 300px;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    margin: 0 auto;
    & img {
      height: 5rem;
      margin: 2rem;
    }
  }
  &__title {
    color: #1779c0;
    margin: 0.4rem 1rem;
    text-align: center;
  }
  &__second-title {
    margin: 0.4rem 1rem;
    text-align: center;
  }
}
@media screen and (min-width: $medium) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .footer__carriage-return--display {
    display: none;
  }
}
