@keyframes slideInMenu {
  from {
    transform: scaley(0);
    transform-origin: top;
    opacity: 0;
  }
  to {
    transform-origin: top;
    transform: scaley(1);
    opacity: 1;
  }
}

.navbar {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 15%;
  width: 100%;
  border-bottom: 0.3rem solid $primary-color;
  &__links {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
    justify-content: center;
    align-items: flex-end;
    & a {
      color: $secondary-color;
      border-left: 0.2rem solid $primary-color;
      border-right: 0.2rem solid $primary-color;
      border-bottom: 0.2rem solid $primary-color;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      background-color: white;
    }
    &--top-border {
      border-top: 0.2rem solid $primary-color;
    }
    &--appear {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: calc(100% + 0.3rem);
      width: 100vw;
      animation-name: slideInMenu;
      animation-duration: 450ms;
    }
    &--disappear {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: calc(100% + 0.3rem);
      width: 100vw;
      // animation-name: slideOutMenu;
      // animation-duration: 450ms;
      transition: transform 0.45s, opacity 0.45s;
      transform-origin: top;
      opacity: 0;
      transform: scaley(0);
    }
  }
  &__img-container {
    display: flex;
    align-items: center;
    height: 100%;
    & img {
      height: 5rem;
    }
  }
  &__menu-icon {
    background-color: white;
    border-radius: 0.7rem;
    height: 90%;
    margin-right: 1rem;
    & img {
      height: 90%;
    }
  }
  &__button-container {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (min-width: $medium) {
  .navbar {
    grid-template-columns: 30% 70%;
  }
  .navbar__links {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    text-align: center;
  }
}
