@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;0,700;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Arimo", sans-serif;
}

@-webkit-keyframes slideInMenu {
  from {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  to {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaley(1);
            transform: scaley(1);
    opacity: 1;
  }
}

@keyframes slideInMenu {
  from {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  to {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaley(1);
            transform: scaley(1);
    opacity: 1;
  }
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  height: 15%;
  width: 100%;
  border-bottom: 0.3rem solid #21216b;
}

.navbar__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar__links a {
  color: darkgoldenrod;
  border-left: 0.2rem solid #21216b;
  border-right: 0.2rem solid #21216b;
  border-bottom: 0.2rem solid #21216b;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: white;
}

.navbar__links--top-border {
  border-top: 0.2rem solid #21216b;
}

.navbar__links--appear {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: calc(100% + 0.3rem);
  width: 100vw;
  -webkit-animation-name: slideInMenu;
          animation-name: slideInMenu;
  -webkit-animation-duration: 450ms;
          animation-duration: 450ms;
}

.navbar__links--disappear {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: calc(100% + 0.3rem);
  width: 100vw;
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: transform 0.45s, opacity 0.45s;
  transition: transform 0.45s, opacity 0.45s, -webkit-transform 0.45s;
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  -webkit-transform: scaley(0);
          transform: scaley(0);
}

.navbar__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar__img-container img {
  height: 5rem;
}

.navbar__menu-icon {
  background-color: white;
  border-radius: 0.7rem;
  height: 90%;
  margin-right: 1rem;
}

.navbar__menu-icon img {
  height: 90%;
}

.navbar__button-container {
  width: 5rem;
  height: 5rem;
}

@media screen and (min-width: 700px) {
  .navbar {
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
  .navbar__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=styles.css.map */